@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}
:root {
    --font-family: 'Inter', sans-serif;
    --main-bg-color: #fffdfa;
    --body-side-padding: clamp(1rem, -2.169014084507042rem + 13.521126760563378vw, 10rem);
    --body-top-padding: clamp(1.75rem, 0.25352112676056326rem + 6.384976525821597vw, 6rem);

    --header-padding-bottom: clamp(2.3rem, 1.7718309859154928rem + 2.253521126760563vw, 3.8rem);

    --nav-font-size: clamp(0.9375rem, 1.1910211267605635rem + -0.2816901408450704vw, 1.125rem);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 90rem;
    font-family: var(--font-family);
    background: var(--main-bg-color);
    padding: var(--body-top-padding) var(--body-side-padding) clamp(4.7rem, 3.5380281690140847rem + 4.957746478873239vw, 8rem);
    transition: all 0.5s ease-in-out;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--header-padding-bottom);
}

.desktop {
    display: none;
}
.desktop ul {
    display: flex;
    gap: 2.5rem;
}

.not-shown img {
    cursor: pointer;
}
.shown {
    position: fixed;
    background: var(--main-bg-color);
    width: calc((100 / 3) * 2%);
    height: 100vh;
    top: 0;
    right: calc((-100 / 3) * 2%);
    font-weight: 400;
    line-height: 1.5;
    transition: all 0.5s ease-in-out;
}
.shown-logo {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: var(--body-top-padding) 1.5rem 0 0 ;
}
.shown-logo img {
    cursor: pointer;
}
.shown ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 5.4rem;
    padding-left: 1.5rem;
    height: 100%;
}
.shown ul li, .desktop ul li {
    list-style: none;
    font-size: var(--nav-font-size);
    cursor: pointer;
}
.shown ul li:hover, .desktop ul li:hover {
    color: #f15d51;
}
@media only screen and (min-width: 750px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
}


.main-text {
    padding: 1.5rem 0 4rem;
}
.main-news picture {
    width: 100%;
}
.main-news img {
    width: 100%;
    object-fit: cover;
}
.main-text h1 {
    font-size: clamp(2.5rem, 2.147887323943662rem + 1.5023474178403755vw, 3.5rem);
}
.main-text p {
    font-size: 0.9375rem;
    color: #5e607a;
    line-height: 1.625;

}
.main-text button {
    background: #f15d51;
    color: #fffdfa;
    font-size: 0.875rem;
    padding: 0.75rem 1.5rem;
    border: none;
    margin-top: 1.5rem;
    letter-spacing: 0.27rem;
    text-transform: uppercase;
}
.main-text button:hover {
    cursor: pointer;
    background: #00001a;
}
@media only screen and (min-width: 750px) {
    .main-text {
        display: flex;
        gap: 2rem;
    }
    .main-text__child {
        flex-basis: 50%;
    }
}


.aside-news {
    padding: clamp(1.5rem, 1.323943661971831rem + 0.7511737089201878vw, 2rem) 1.5rem;
    background: #00001a;
}
.aside-news .articles {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-top: 2rem;
}
.aside-news .articles div {
    height: 0.0625rem;
    background: #5e607a;
}
.aside-news h2 {
    font-size: clamp(2rem, 1.823943661971831rem + 0.7511737089201878vw, 2.5rem);
    color: #e9aa52;
}
.aside-news h3 {
    color: #fffdfa;
    font-size: 1.25rem;
    line-height: 1.5;
}
.aside-news h3:hover {
    cursor: pointer;
    color: #e9aa52;
}
.aside-news p {
    color: #c5c6ce;
    font-size: 0.9375rem;
    line-height: 1.625;
}


.footer-news {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding-top: clamp(4rem, 3.823943661971831rem + 0.7511737089201878vw, 4.5rem);;
}
.footer-news article {
    display: inline-flex;
    gap: 1.5rem;
}
.footer-news article .img {
    flex-basis: 6.2284rem;
    height: 100%;
    flex-shrink: 0;
}
.footer-news article .img img {
    width: 100%;
    object-fit: cover;
}
.footer-news .text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer-news h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
    align-self: flex-start;
    color: #c5c6ce;
}
.footer-news .title {
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5;
    color: #00001a;
}
.footer-news .title:hover {
    cursor: pointer;
    color: #f15d51;
}
.footer-news p.desc {
    font-size: 0.9375rem;
    font-weight: 400;
    color: #5e607a;
    margin-top: auto;
}
@media only screen and (min-width: 1000px) {
    .footer-news {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-news article {
        flex-basis: 33%;
    }
    
    .container {
        display: flex;
        gap: 2rem;
    }
    .container .aside-news {
        flex-basis: 33%;
        flex-shrink: 0;
        align-self: flex-start;
    }
}
